@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$success-color: #2ecc71;
$error-color: #e74c3c;

* {
  box-sizing: border-box;

  body {
    background-color: #ebebeb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    .container {
      background-color: #fff;
      width: 25rem;
      border-radius: 0.7rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

      .form {
        padding: 1.9rem 2.5rem;

        h2 {
          text-align: center;
          margin: 0 0 2rem;
        }

        .form-control {
          margin-bottom: 0.6rem;
          padding-bottom: 1.25rem;
          position: relative;

          label {
            color: #777;
            display: block;
            margin-bottom: 0.3rem;
          }

          input {
            display: block;
            width: 100%;
            font-size: 0.9rem;
            padding: 0.6rem;
            border: 2px solid #f0f0f0;
            border-radius: 0.25rem;

            &:focus {
              outline: none;
              border-color: #999;
            }
          }

          &.success {
            input {
              border-color: $success-color;
            }
          }

          &.error {
            input {
              border-color: $error-color;
            }

            small {
              visibility: visible;
            }
          }

          small {
            color: $error-color;
            position: absolute;
            bottom: 0;
            left: 0;
            visibility: hidden;
          }
        }

        button {
          background-color: #3498db;
          color: #fff;
          display: block;
          width: 100%;
          font-size: 1rem;
          font-weight: 600;
          padding: 0.6rem;
          margin-top: 1.25rem;
          border: 2px solid #3393d3;
          border-radius: 0.3rem;
          cursor: pointer;

          &:hover {
            background-color: #4eb1f3;
          }
        }
      }
    }
  }
}
